html {
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    padding-bottom: 200px;
}

body {
    padding-top: 3rem;
}

label {
    margin: 5px;
}

select {
    margin: 5px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

h2:before {
    content: "✂️ ";
}

h3 {
    margin: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.container {
    width: 80vw;
    margin: 10px auto;
}


section {
    margin-top: -4rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

section#globalmap {
    display: grid;
    grid-auto-columns: 2fr 1fr;
    grid-template-rows: 30px 30px calc(60vh - 30px);
    grid-gap: 1rem;
}


#mapid {
    background: #fee;
}

section#globalmap h2 {
    grid-column: span 2;
}

section#globalmap div.filters {
    grid-column: span 2;
}

section#globalmap button#read_more {
    display: none;
}

section#dmap {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 30px calc(100vh - 30px);
    grid-gap: 1rem;
}

input[type=search] {
    margin: 5px;
}

#listecoiffeurs {
    background: #efe;
    letter-spacing: 0.03em;
    padding: 1rem;
}

aside{
    overflow: scroll;
}

@media (max-width: 768px) {
    body {
        padding-top: 2.5rem;
    }
    .container {
        width: 90vw;
    }
    h1 {
        font-size: 2.5rem;
    }
    #mapid {
    }
    section#globalmap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: 30px 100px calc(100vh - 130px);
    }
    section#globalmap div.filters label{
        display: block;
        width: 100%;
    }

    aside#asideresults {
        overflow: hidden;
    }
}

aside p {
    margin: 10px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
    display: inline-block;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 16px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

@media (min-width: 768px) {
    .about, .palmares {
        column-count:  2;
    }
}

div.about p {
    margin-top: 10px;
/*    font-size: 1.2rem;*/
}

div.about code {
    background-color: #eeeeee;
}
div.about ul {
    margin-left: 20px;
}
div.about ul li {
    list-style: square;
/*    font-size: 1.2rem;*/
}

div.palmares p {
    margin-top: 10px;
/*    font-size: 1.2rem; */
}

div.palmares code {
    background-color: #eeeeee;
}
div.palmares ul {
    margin-left: 20px;
}
div.palmares ul li {
    list-style: square;
/*    font-size: 1.2rem; */
}
div.references p {
    margin-top: 10px;
/*    font-size: 1.2rem; */
}
div.references ul li {
    list-style: square;
/*    font-size: 1.2rem;*/
}
