a, li {
    transition: all 0.3s ease-in;
}

html {
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    padding-bottom: 200px;
    background: #f2f2f0 url(/pics/bg.jpg) fixed no-repeat bottom center / cover;
}
@media (min-width: 768px) {
    html{
        text-align: justify;
    }
    h2 {
        letter-spacing: 0.5rem;
        font-weight: 300;
    }
}

body {
    padding-top: 3rem;
}

label {
    margin: 5px;
}

select {
    margin: 5px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
    color: #fff;
    text-shadow: 3px 3px 0px #f00, 6px 6px 0px #00f;
    background: #fa0;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fa0;
}

#globalmap h2{
    margin-top: 0;
}

h2:before {
    content: "✂️ ";
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

p{
    line-height: 1.6rem;
}

a{
    text-decoration: none;
    color: #fa0;
    padding: 0 0.25rem;
}

a:hover{
    background: #fa0;
    color: #fff;
}

section {
    padding: 2rem;
    width: 80vw;
    margin: 5rem auto;
    background: rgba(255,255,255, 0.92);
    box-shadow: 1px 1px 5px 0 #ddd;
    padding-top: 4rem;
    margin-top: -2rem;
}

section#globalmap {
    display: grid;
    grid-auto-columns: 2fr 1fr;
    grid-template-rows: 70px 30px calc(60vh - 30px);
    grid-gap: 1rem;
}

#mapid {
    background: #fee;
}

section#globalmap h2 {
    grid-column: span 2;
}

section#globalmap div.filters {
    grid-column: span 2;
}

section#globalmap button#read_more {
    display: none;
}

section#dmap {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 30px calc(100vh - 30px);
    grid-gap: 1rem;
}
section div#deptmap {
    margin-top: 2rem;
}

input[type=search] {
    margin: 5px;
}

#listecoiffeurs {
    background: #fee;
    letter-spacing: 0.03em;
    line-height: 1.6rem;
}
#listecoiffeurs li{
    padding: 0.1rem 1rem;
    font-weight: 300;
    font-size: 0.8rem;
}
#listecoiffeurs li b{
    font-weight: 800;
    font-size: 1rem;
}

#listecoiffeurs li:hover{
    cursor: pointer;
    background: #fa0;
}

aside{
    overflow: scroll;
}

@media (max-width: 768px) {
    body {
        padding-top: 3.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    section {
        padding-top:2rem;
        padding: 1rem;
        width: 90vw;
    }
    section#globalmap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: 30px 140px calc(100vh - 130px);
    }
    section#globalmap div.filters label{
        display: block;
        width: 100%;
    }

    aside#asideresults {
        overflow: hidden;
    }
    #listecoiffeurs li span {
        display:none;
    }
    #listecoiffeurs li b{
        font-weight: 600;
        font-size: 0.8rem;
    }
}

aside p {
    margin: 10px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: #fa0;
    border: none;
    color: white;
    text-align: center;
    padding: 0.25rem 0.3rem;
    display: inline-block;
}

a.button:hover{
    box-shadow: 0 0 2px 0px #fa0;
    transform: scale(1.025);
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 16px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

@media(max-width: 768px) {
    .info h4 {
        font: 12px Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 768px) {
    .about, .palmares {
        column-count:  2;
        column-gap: 3rem;
    }

    .about h3, .palmares h3{
        column-span: all;
        padding-bottom: 0.5rem;
        box-shadow: inset 0 -1px 0 0 #fa0;
    }


}

@media (min-width: 1024px) {
    .palmares p+ul{
        column-count: 2;
    }
}

.about p {
    margin-bottom: 1rem;
}

.about code {
    background-color: #eee;
}
.about ul, .palmares ul, .references ul {
    padding-left: 20px;
    list-style: square;
    font-weight: 300;
}

.palmares ul{
    margin-bottom: 2.5rem;
}

.palmares ul a{
/*    text-transform: lowercase; */
    font-weight: 600;
}

.palmares code {
    background-color: #eee;
}
