
Sur https://www.data.gouv.fr/en/datasets/base-sirene-des-entreprises-et-de-leurs-etablissements-siren-siret/
telecharger StockEtablissement_utf8.zip et StockUniteLegale_utf8.zip

lancer sirene.rb pour créer la DB

use coords.rb to get coordinates (first with :ban_data_gouv_fr then complete with google & api key

